<style>
  .top {
    border-bottom: 2px solid #fd264f;
    padding-bottom:15px;
}

body {
	font-family: 'Bluesky';
}

.button-second {
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 10px;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;
  border: double 4px white;
  font-family: 'Bluesky';
  padding:5px;
}
  </style>
  


		<h1 class="top text-center">講師を評価する</h1>
		<br><br>
			<%= form_for @eva do |f| %>

<div class="col-md-6 col-md-offset-3">

        <div class="field" id="star">
            <%= f.label :star %>
          </div>
          <%= f.hidden_field :evaluated_user_id, :value => @user_id %>

         <%= f.text_area :message, :class => "form-control", :size => "50x20", :maxlength => 140 %><br>
         <%= f.submit "レビュー評価", :class => "button-second" %>

 </div>

<% end %>

          <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starhalf : '<%= asset_path('star-half.png') %>',
            scoreName: 'evaluation[point]' 
          });
          </script>
 
