<style>

body {
  font-family: 'Bluesky';
}

.button-second {
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 10px;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;
  border: double 4px white;
  font-family: 'Bluesky';
  padding:5px;
}

h2 {
  font-size:25px;
}
</style>

<h2>ユーザー編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, :class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_field :birdhday, :class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
  <%= f.email_field :email, :class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :プロフィール写真 %><br />
     <%= f.file_field :icon, :class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :profile, :class => "form-control my-form" %>
  </div>
 
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(ユーザー情報を変えるにはパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control my-form" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "変更完了", :class => "button-second" %>
  </div>
<% end %>
<br>
<h2>アカウントを削除する</h2>
<p>アカウントを削除をしたらアプリを使えなくなりますが、それでもよろしいですか？</p>
<br>
<p><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button-second" %></p>

<%= link_to "前のページに戻る", :back, :class => "button-second" %>
<br><br>
