<div class="row">
  <div class="col-xs-6">
<h1>ユーザー情報</h1>
<hr>
<% if @user.icon? %>
    <%= image_tag @user.icon.to_s, class: 'mypage-article-img' %>
  <% end %>
<br>
<p>名前：<%= @user.name %>さん</p>
<p>ユーザータイプ：<%= @user.user_type%></p>
<p>自己紹介：<%= @user.profile %></p>
<hr>
<% if @user.id == current_user.id %>
<p><a href="/users/edit" class="btn btn-success">ユーザー情報を編集する</a>
<% else %>
      <%= form_for @room do |f| %>
       <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value => @user.id %>
      <% end %>
        <%= f.submit "チャットを始める", :class => "btn btn-warning" %>
      <% end %>
      <br>
    <% if @user.user_type == "講師" %>
    <%= link_to "講師を評価する", "/evaluations/new/#{@user.id}", :class => "btn btn-primary" %>
    <% end %>
    <% end %>
  </div>
  <% if @user.id == current_user.id%>
    <div class="col-xs-6">
        <h1>チャット一覧</h1>
        <hr>
        <% @entries.each do |e| %>
        <p><a href="/rooms/<%= e.room.id %>"><strong><%= e.room.room_name %></strong></a></p>
        <hr>
        <% end %>
      <a href="/rooms" class="btn btn-info">チャット一覧を見る</a>
    </div>
  <% end %>
</div>
<hr>
<p><a href="/users" class="btn btn-primary">ユーザー一覧に戻る</a></p>