<h1>ユーザー情報を変更しました。</h1>
<hr>
<p>名前：<%= @user.name %>さん</p>
<p>生年月日：<%= @user.birdhday %></p>
<p>ユーザータイプ：<%= @user.user_type %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>プロフィール写真：<%= @user.icon %></p>
<p>自己紹介：<%= @user.profile %></p>
<hr>
<p><a href="/users/<%= @user.id %>" class="btn btn-primary">ユーザー情報に戻る</a></p>
<p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">ユーザー情報の編集に戻る</a></p>
<p><a href="/posts" class="btn btn-info">トップに戻る</a></p>