<style>
body {
  font-family: 'Bluesky';
}

.second {
  width:250px;
  color:black;
  margin-bottom:10px;
}

.third {
  width:200px;
  box-shadow: 0 1px #6c757d63;
}
.third:hover{
    color:red;
}

.button-second {
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 10px;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;
  border: double 4px white;
  font-family: 'Bluesky';
  padding:5px;
}
</style>

<h2>パスワードを変更する</h2>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワードを入力してください" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "second" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "もう一度入力してください" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "second" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを変更する", class: "third" %>
  </div>
<% end %>
<br>
<a href="/users/sign_in" class="button-second" >ログインページ</a>
