  <style>
  *, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	display: block;
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: 1em auto;
	overflow: hidden;
}
.cp_tab input[type='radio'] {
	border-bottom: 1px solid rgba(239, 237, 239, 0.5);
	cursor: pointer;
	-webkit-appearance: none;
	        appearance: none;
	display: block;
	width: 100%;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cp_tab .cp_tabpanels label {
	cursor: pointer;
	display: block;
	line-height: 1em;
	padding: 2rem 0;
	text-align: center;
}
.cp_tab [type="radio"]:hover,
.cp_tab [type='radio']:focus {
	border-bottom: 1px solid #fd264f;
}
.cp_tab [type='radio']:checked {
	border-bottom: 2px solid #fd264f;
}
.cp_tab [type='radio']:checked + .cp_tabpanel {
	opacity: 1;
}
.cp_tab [type='radio'] + .cp_tabpanel {
	display: block;
	opacity: 0;
	padding: 2rem 0;
	width: 90%;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cp_tab .cp_tabpanels {
	width: 50%;
}
.cp_tab .cp_tabpanels [type='radio'] + .cp_tabpanel {
	width: 200%;
	margin-left: 200%;
}
.cp_tab .cp_tabpanels [type='radio']:checked + .cp_tabpanel {
	margin-left: 0;
}
.cp_tab .cp_tabpanels:last-child [type='radio'] + .cp_tabpanel {
	margin-left: 100%;
}
.cp_tab .cp_tabpanels:last-child [type='radio']:checked + .cp_tabpanel {
	margin-left: -100%;
}

body {
  font-family: 'Bluesky';
}

.button-second {
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 10px;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;
  border: double 4px white;
  font-family: 'Bluesky';
  padding:5px;
}
  </style>
  
  <% if @user.user_type == "講師" %>
  
  <div class="cp_tab">
	<div class="cp_tabpanels">
		<label for="tab5_1">レッスン掲示板作成</label>
		<input id="tab5_1" name="cp_tab" type="radio" checked="checked">
		<div class="cp_tabpanel">
			 <%= form_for @board do |f| %><br>
          <% logger.debug("================================== html レッスン") %>
            <p>掲示板タイトル</p>
          　<%= f.text_field :title, :class => "form-control my-form" %>
          　<p>レッスン概要</p>
          　<%= f.text_area :overview, :class => "form-control my-form", :maxlength => 300 %>
          　<p>開催場所住所</p>
          　<%= f.text_area :address, :class => "form-control my-form" %>
          　<p>カテゴリーを選択</p>
          　<%= f.select :category, [["スポーツ系", "スポーツ系"], ["武道系", "武道系"], ["学習系", "学習系"], ["芸術系", "芸術系"], ["音楽系", "音楽系"], ["料理系", "料理系"]] ,class:"form-control" %>
            　<%= fields_for @lesson do |l| %>
                　<p>レッスンタイトル</p>
                　<%= l.text_field :title, :class => "form-control my-form" %>
                　<p>対象年齢</p>
                　<%= l.text_field :target_age, :class => "form-control my-form" %>
                　<p>開催日付</p>
                　<%= l.date_field :lesson_date, :class => "form-control my-form" %>
                　<p>開始時刻</p>
                　<%= l.time_field :start_time, :class => "form-control my-form" %>
                　<p>終了時刻</p>
                　<%= l.time_field :lesson_date, :class => "form-control my-form" %>
                　<p>画像</p>
                  <%= l.file_field :image, :class => "form-control my-form" %>
            　<% end %>
             <br>
            <%= f.submit "投稿する", :class => "button-second"  %>
          <% end %>
          <br>
          <a href="/posts" class="button-second">トップに戻る</a>
		</div>
	</div>
	
	
	<div class="cp_tabpanels">
		<label for="tab5_2">ギフト掲示板作成</label>
		<input id="tab5_2" name="cp_tab" type="radio">
		<div class="cp_tabpanel">
			<%= form_for @board do |f| %><br>
            <p>掲示板タイトル</p>
          　<%= f.text_field :title, :class => "form-control my-form" %>
          　<p>品物の概要</p>
          　<%= f.text_area :overview, :class => "form-control my-form", :maxlength => 300 %>
          　<p>住所</p>
          　<%= f.text_area :address, :class => "form-control my-form" %>
          　
          　<%= f.hidden_field :category, :value => "プレゼント" %>
          　
            　<%= fields_for @present do |p| %>
              　<p>ギフトの名前</p>
              　<%= p.text_field :gift_name, :class => "form-control my-form" %>
              　<p>品物の状態</p>
              　<%= p.select :status, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]] ,class:"form-control" %>
              　<p>ギフト画像</p>
                <%= p.file_field :image, :class => "form-control my-form" %>
        　     <% end %>
            <br>
            <%= f.submit "投稿する", :class => "button-second"  %>
          <% end %>
         <br>
      
      <a href="/posts" class="button-second">トップに戻る</a>
      
		</div>
	</div>
</div>
 
<% else %>

    <%= form_for @board do |f| %>
      <br>
        <p>掲示板タイトル</p>
      　<%= f.text_field :title, :class => "form-control my-form" %>
      　<p>品物の概要</p>
      　<%= f.text_area :overview, :class => "form-control my-form", :maxlength => 300 %>
      　<p>住所</p>
      　<%= f.text_area :address, :class => "form-control my-form" %>
      　
      　<%= f.hidden_field :category, :value => "プレゼント" %>
      　
      　<%= fields_for @present do |p| %>
          　<p>ギフトの名前</p>
          　<%= p.text_field :gift_name, :class => "form-control my-form" %>
          　<p>品物の状態</p>
          　<%= p.select :status, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]],class:"form-control" %>
          　<br>
          　<p>ギフト画像</p>
            <%= p.file_field :image, :class => "form-control my-form" %>
　      <% end %>
       <br>
       <%= f.submit "投稿する", :class => "button-second"  %>
    <% end %>
     <br>
    <a href="/posts" class="button-second">トップに戻る</a>
    

<% end %>