<h2>掲示板詳細画面</h2>
<% if @type_flag == "l" %>
  <p>掲示板タイトル</p>
　<%= @board.title %>
　<p>カテゴリー</p>
　<%= @board.category%>
　<p>レッスン概要</p>
　<%= @board. overview %>
　<p>開催場所住所</p>
　<%= @board.address %>
　<!--ここからレッスンモデル-->
　<p>レッスンタイトル</p>
　<%= Lesson.find_by(board_id: @board.id).title %>
　<p>対象年齢</p>
　<%= Lesson.find_by(board_id: @board.id).target_age %>
　<p>開催日付</p>
　<%= Lesson.find_by(board_id: @board.id).lesson_date %>
　<p>開始時刻</p>
　<%= Lesson.find_by(board_id: @board.id).start_time %>
　<p>終了時刻</p>
　<%= Lesson.find_by(board_id: @board.id).end_time %>
  
  <!--< image_tag Present.find_by(board_id: @board.id).image %>-->
<% else %>

 <p>掲示板タイトル</p>
　<%= @board.title %>
　<p>品物の概要</p>
　<%= @board.overview %>
　<p>住所</p>
　<%= @board.address %>
　<p>ギフトの名前</p>
　<%= Present.find_by(board_id: @board.id).gift_name %>
　<p>品物の状態</p>
　<%= Present.find_by(board_id: @board.id).status %>

 　<!--<p>ギフト画像</p>-->
  <!-- < image_tag @present.image.to_s %>-->
　
<% end %>
