<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
</head>
<style>
body {
  font-family: 'Bluesky';
}

.room-name {
 /*border: solid 4px gray;*/
 overflow: scroll;
 height:400px;
 font-size: 15px;
 padding:20px;
 background-color: #ffffffe6;
}

.room-name a {
  color:gray;
}

.room-name a:hover {
  color: #3ecdc6;
}

.button-second {
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 10px;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;
  border: double 4px white;
  font-family: 'Bluesky';
  padding:5px;
}

img{
  width: 100px;
  height: 100px;
  padding-top: -10px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius:50%;
}

.main {
  position:relative;
  top:-50px;
  left:80px;
}

.photo {
  position:relative;
  top:-40px;
}

.posts-heading {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
</style>


<h1>投稿一覧</h1>
<br>
<div class="room-name">
<% @posts.each do |p| %>
 <div class="posts-heading">
  <% if p.user.icon? %>
  　 <%= image_tag p.user.icon.to_s, class: "profile" %>
    <% else %>
    <img src="<%= "/assets/image6.jpg"%>" class="profile">
  <% end %>
  <p class="main"><a href="/posts/<%= p.id %>"><%= User.find(p.user_id).name %></a></p>
  <p class="main"><a href="/posts/<%= p.id %>"><%= p.content %></a></p>
  <% if p.post_image.blank? %>
  <%= p.created_at.strftime("%Y-%-m-%-d %-H:%-M:%-S") %>
  <% else %>
  <a href="/posts/<%= p.id %>" data-lightbox="fuga" data-title="hoge">
   <p class="photo"><%= image_tag p.post_image.to_s%></p>
  </a>
  <%= p.created_at.strftime("%Y-%-m-%-d %-H:%-M:%-S") %>
  <% end %>
  </div>
  <% end %>
  </div>
  <br>
  <a href="/posts/new" class="button-second">新しく投稿する</a>
  <br>
  
  