<!DOCTYPE html>
<html>
  <head>
    <title>Gift</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Gift</a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li><a href="/users">ユーザー一覧</a></li>
         <li><a href="/users/<%= current_user.id %>"><%= current_user.name %>さん</a></li>
        <li><a href="/posts">投稿一覧</a></li>
        <li><a href="/posts/new">新しく投稿する</a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a href="/users/sign_in">ログイン</a></li>
        <% end %>
      </ul>
      </div>
  </div>
</nav>
    <div class="container main-page">
    <% if notice %>
    <br>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <br>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
    </div>
  </body>
</html>
